# IDE Files
.vscode

# Build files
build
nds-portfolio.elf
nds-portfolio.nds

# Templates I have saved in the project directory for quick reference
references

# Documentation generation files
html
latex